
.stn{
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: visible;
}

.btn{
    position: relative;
    z-index: 1;
    width: 160px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.btn a{
    cursor: pointer;
    padding: 0 18px;
    height: 40px;

    line-height: 42px;
    font-family: 'Raleway';
    text-decoration: none;
    text-transform: uppercase;
    color: #78277c;
    font-size: 1.5rem;

    background-color: white;
    border: none;
    border-radius: 14px;
    transition: 0.3s ease;
}

.btn::before{
    content: url("../img/planet_bouton.svg");
    width: 120px;
    height: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.btn a:hover{
    transform: scale(1.2);
    transition: 0.3s ease;
}

.btn--hidden{
    margin: 0 -180px 0 20px;
}

h1{
    font-family: 'Raleway';
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: white;
}