
.job{
    position: relative;
    padding: 10vh 0 40vh 0;

    justify-content: center;
}

.job .astronaute{
    position: absolute;
    top: 35%;
    left: 5vw;
    z-index: -1;

    max-width: 300px;
    width: 30vw;

    /* animation: astro 40s ease-in-out 0s infinite alternate; */
}

@keyframes astro{
    0%{
        transform: rotateZ(0deg) translateX(0px) translateY(0px);
    }
    25%{
        transform: rotateZ(-30deg) translateX(3vw);
    }
    50%{
        transform: translateX(8vw);
    }
    75%{
        transform: rotateZ(50deg) translateX(0px) translateY(5vw);
    }
    100%{
        transform: rotateZ(0deg) translateY(10vw);
    }
}

.job .navette{
    position: absolute;
    top: -50px;
    right: 2vw;
    z-index: -1;

    max-width: 200px;
    width: 20vw;
}

.job h1{
    font-size: 3rem;
    text-shadow: 0px 0px 0.4rem white;
    margin-bottom: 5vmin;
}

.job a.crea{
    align-self: center;
    margin-top: 15px;
    padding: 2px;

    font-size: 1.4rem;
    text-align: center;
    text-decoration: none;
    color: rgb(219, 135, 177);
    border-bottom: 1px solid #eee;
}

.slide{
    width: 100%;
    padding: 0 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

    .card{

        flex: none;

        width: 50vw;
        min-width: 250px;
        max-width: 400px;

        height: 75vw;
        min-height: 400px;
        max-height: 650px;

        position: relative;

        display: flex;
        flex-direction: column;
        align-items: stretch;

        background-color: rgba(32, 0, 71, 0.3);
        border-radius: 15px;

    }

    .card::before{
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;

        background-image: linear-gradient(-45deg, rgba(63, 163, 202, 0.6), rgba(163, 63, 202, 0.6));
        filter: blur(2px);
        border-radius: 10px;
        z-index: -1;
    }

        .card .logo{
            user-select: none;
            cursor: pointer;
            width: 100%;
            height: 40%;
            padding: 10% 0;

            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            .card .logo img{
                flex: 0 1 auto;
                min-width: 0;
                max-width: 50%;
                height: auto;
                min-height: 0;
                max-height: 100%;
            }

            .card .logo div{
                flex: 1 1 auto;
                width: 30%;
                height: 100%;
                
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .card .logo svg{
                cursor: pointer;
                width: 60px;
                max-width: 10vw;

                height: 60px;
                max-height: 10vw;

                fill: hotpink;
                background-color: rgba(32, 0, 71, 0.6);
                border-radius: 50%;
            }

        .card .infos{

            flex: 1 1 auto;
            height: auto;
            padding: 0 15px;

            background-color: rgba(32, 0, 71, 0.3);
            background-image: url("../img/fond_card.svg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 70%;
            border-top: 1px solid hotpink;

            display: flex;
            justify-content: center;
            align-items: center;

        }

            .card .infos ul{
                max-width: 320px;
                min-height: 220px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }

            .card .infos li{

                display: flex;
                align-items: center;

            }

            .card .infos svg{
                flex: none;

                width: 30px;
                height: 30px;
                margin-right: 10px;

                fill: hotpink;
            }

            .card .infos p{
                font-size: 1.6rem;
                font-weight: 600;
                letter-spacing: 1px;
                color: rgb(206, 206, 206);
            }