.ai-gallery {
    width: 100%;
    position: relative;

    --slide-width: 12rem;
    --slide-height: 16rem;
}

.ai-gallery .vas-y-clique {
    width: 18rem;
    position: absolute;
    z-index: 10;

    top: -15rem;
    left: auto;
    right: 1rem;
}

.ai-gallery .pouce-leve {
    width: 8rem;
    position: absolute;
    z-index: 10;

    left: 1.5rem;
    bottom: -2rem;
}
