.ai-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ai-input label {
    display: block;
    padding: 0.8rem 1rem;
    background-color: var(--color-primary);
    color: var(--color-background);
}

.ai-input .triangle {
    height: 1rem;
    width: 2rem;
    margin: -1px auto 2rem auto;
    background-color: var(--color-primary);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.ai-input-body {
    display: flex;
}

.ai-input-body input {
    padding: 0 1rem;
    border: 0.25rem solid var(--color-dark);
    outline-offset: 0.25rem;
    outline-color: var(--color-dark);
}

.ai-input-body a {
    padding: 1rem;
    background-color: var(--color-dark);
    color: var(--color-background);
    text-transform: uppercase;
}
