.ai-me {
    width: 100%;
    max-width: 52rem;
    padding: 0 1rem;
}

.ai-me h2 {
    font-size: var(--font-h2);
    margin-bottom: 4rem;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

.ai-me-body {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.ai-me img {
    border-radius: 2px;
    max-width: 30%;
    aspect-ratio: 1 / 1;
}

@media screen and (max-width: 40rem) {
    .ai-me img {
        max-width: 60%;
    }
    .ai-me h2 {
        margin-bottom: 2rem;
    }
    .ai-me-body {
        flex-direction: column;
        align-items: center !important;
        gap: 2rem;
    }
}
